<div class="card">
  <div class="card-body">
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
  </div>
  <div class="list-group list-group-flush list-group-numbered">
    <button type="button" class="list-group-item list-group-item-action">A second button item</button>
    <button type="button" class="list-group-item list-group-item-action">A third button item</button>
    <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
    <button type="button" class="list-group-item list-group-item-action">A disabled button item</button>
  </div>
</div>